/* my custom styles */
	
/* LAYOUT STYLES */
html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
	margin: 0;
	padding: 0;	
}

body {
	font-family: georgia, helvetica, sans-serif;
	/* font-size: 20px; */
}


.site-wrapper {
  display: block;
  width: 100%;
  /* height: 100%; */
  /* remove unnecessary gorizontal scroll */
  overflow: hidden;
}



/* ____________________ #home ____________________ */

#home {
	display: block;
	width: 100%;
	background-color: #eee;
  	/* height: 100px; */
	/* background-color: blue; */ 
}



/* ____________________ #home ____________________ */

#about {
	margin-top: 30px;
}




/* ____________________ #share ____________________ */

#share {
	margin-top: 50px;
}

.share-banner {
	background-color: #eee;
	height: 200px;
	height-min: 200px;	
}

.share-form {
	padding: 10px;
	border: 1px solid #aaa;
}



/* ____________________ #testimonials ____________________ */

#testimonials {
	margin-top: 50px;
	background-color: blue;
	
}